.Logo {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 19px;
	padding: 30px 0;
	margin: 0;
	color: #a4a6b3;
	font-weight: 700;
}
.Logo svg {
	margin-right: 15px;
}

/* .sidebar__link {
    color: red;
}

.sidebar__link:hover {
    color: blue;
} */
.sidebar__link {
	display: block;
	font-size: 16px;
	font-weight: 700;
	padding: 18px 24px;
	padding-left: 40px;
	color: #a4a6b3;
}
svg {
	margin-right: 24px;
	fill: #a4a6b3;
}
.sidebar__item:hover .sidebar__link,
.sidebar__item:hover svg,
.sidebar__link:hover {
	background: #9fa2b4;

	color: #dde2ff;
	fill: #dde2ff;
}
.sidebar__link:hover {
	border-left: 3px solid #fff;
}

.active {
	color: #dde2ff;
	background: #9fa2b4;
	border-left: 3px solid #fff;
}

.active svg {
	fill: #dde2ff;
}
