.Logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 19px;
    padding: 30px 0;
    margin: 0;
    color: #A4A6B3;
    font-weight: 700;
}
.Logo svg {
    margin-right: 15px;
}
.sidebar__item {
    color:  #A4A6B3;
    font-size: 16px;
    font-weight: 700;
    padding: 18px 24px;
    padding-left: 40px;
}

/* .sidebar__link {
    color: red;
}

.sidebar__link:hover {
    color: blue;
} */
.sidebar__link {
    color: #DDE2FF;
}

 svg {
    margin-right: 24px;
    fill: #DDE2FF;
}
.sidebar__item:hover,
.sidebar__item a:hover{
    background: #9FA2B4;
    
}